{
  "root": true,
  "extends": "airbnb",
  "plugins": ["react"],
  "parserOptions": {
    "ecmaVersion": 9
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "rules": {
    "one-var": 0,
    "one-var-declaration-per-line": 0,
    "new-cap": 0,
    "consistent-return": 0,
    "max-len": [1, 80, 2],
    "indent": ["error", 2, { "SwitchCase": 1 }],
    "import/no-extraneous-dependencies": 0,
    "react/state-in-constructor": ["error", "never"],
    "no-param-reassign": 0,
    "comma-dangle": 0,
    "no-unused-vars": 0,
    "no-tabs": 0,
    "react/jsx-filename-extension": 0,
    "curly": ["error", "multi-line"],
    "import/no-unresolved": 1,
    "react/no-unknown-property": [2, { "ignore": ["class", "for"] }],
    "react/forbid-prop-types": 0,
    "no-shadow": ["error", { "allow": ["req", "res", "err"] }]
  }
}
